$white: #fff;
$grey: #707070;
$black: #000;
$light-black: #101010;
$background: #efefefeb;
$background: #fff;
$link-color: #fff;
$link-color-hover: #fff700;
$big-nav-background-color: #000000f1;
$dark-mode-text-color: #fff;
$light-mode-text-color: #000;
$banner-color: #fff;
$banner-color: #fff700;

$padding: 3rem;
$gutter: 0.5rem;
$font-size: 2rem;
$baseline: $font-size * 0.25;

$page-margin: $padding * 3 $padding;
$button-padding: $padding * 0.25 $padding * 0.5;
$banner-padding: $padding * 0.25 $padding * 0.5;
$item-padding: 1rem;