@import '../styles/styles.scss';

.support-list {
	list-style: none;
	margin-left: 0;
	text-align: center;
	li {
		font-size: 26px;
		line-height: 1.15;
		display: inline-block;
		margin-bottom: 0;
		a {
			color: $grey;
			text-decoration: none;
			&:hover {
				color: $white;
			}
		}
	}
}