// @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600;700&display=swap');

@import '../styles/styles.scss';

body {
  color: $dark-mode-text-color;
  background: $black;
}

// big nav

:root {  --big-nav-width: 100%;
 --toggler-size: 30px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a, a:active, a:focus, a:hover, a:visited {
  color: $black;
}

img {
  margin-bottom: 1rem;
  display: block;
} 

.container {
  margin: 0;
  width: auto;
  // min-height: 100vh;
  // min-width: 100vw;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-name {
  position: absolute;
  top: $padding * 0.75;
  left: $padding;
  font-size: 1.25em;
  line-height: 1.25em;
  margin: 0;
}


.big-nav, .content, .content-center {
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.big-nav {
  width: 100%;
 // -webkit-transform: translateX(calc(var(--big-nav-width) * -1));
 // transform: translateX(calc(var(--big-nav-width) * -1));
  background-color: $big-nav-background-color;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  height: 100vh;
  opacity: 0;
  z-index: -10;
}

.nav-link-item {
  margin-bottom: $baseline;
}

.nav-link-text {
  font-size: $font-size;
}

.content-center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  // align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content, .footer {
  margin: $page-margin;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.nav-links { list-style-type: none; }

.nav-link-text {
  color: $dark-mode-text-color;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.nav-link-text a, 
.nav-link-text:hover, 
.nav-link-text:focus, 
.nav-link-text:active,
.nav-link-text:visited { 
  color: $white; 
}

.menu-toggler {
  display: block;
  // height: 30px;
  // width: calc(30px * 2.75);
  position: absolute;
  top: $padding * 0.75;
  right: $padding;
  cursor: pointer;
  z-index: 15;
  line-height: 1.25em;
}

.menu-toggler-square {
  height: 30px;
  width: 30px;
  background: $white;
  position: absolute;
  right: 0;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.input-toggler {
  position: absolute;
  left: -100%;
}

.menu-open, .menu-close {
  font-size: 1.25em;
}

.menu-close {
  display: none;
}

.input-toggler:checked ~ .menu-toggler .menu-toggler-square { 
  background: $white;
}

.input-toggler:checked ~ .menu-toggler .menu-open {
  display: none;
}

.input-toggler:checked ~ .menu-toggler .menu-close {
  display: block;
}

.input-toggler:checked ~ .big-nav {
  // -webkit-transform: translateX(0);
  // transform: translateX(0);
  opacity: 1;
  z-index: 10;
}

.footer {
  color: $grey;
  margin-top: $baseline * 8;
  margin-bottom: $baseline * 8;
  flex-direction: row;  
  .year {
    display: inline-block;
    flex-flow: row;
    width: 50%;
  }
  .footer-nav {
    display: flex;
    flex-flow: row;
    width: 50%;    
    list-style: none;
    margin: 0;
    justify-content: flex-end;
    li {
      display: inline-block;
      margin-left: $gutter;
      & a, a:active, a:focus, a:hover, a:visited {
        font-weight: 400;
        text-decoration: none;
        color: $grey;
      } 
    }
  }
}