@import '../styles/styles.scss';

.item-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 0 -10px;
}

.item {
	display: flex;
	flex-flow: column;
	@media only screen and (max-width:850px) {
		width: 100%;
	}
	width: 25%;
	margin-bottom: $padding;
	padding: 0;
}

.item-top {
	background: $white;
	margin: 10px;
	margin-bottom: 1px;
	padding: $item-padding;
	img {
		margin-top: $baseline;
		margin-bottom: $baseline;
	}
}

.item-artist, .item-title {
	color: $black;
	margin-bottom: 0;
}

.item-title a {
	color: $black;
	font-weight: 700;
	text-decoration: none;
}

.item-price,
.item-description,
.quick-view-open {
	color: $black;
	font-size: 12px;
	margin-bottom: 0;
}

.item-select {
		font-size: 12px;
		word-spacing: -3px;
		background: none;
		border: 1px solid $black;
		text-decoration: none;
		color: $black;
		padding: $button-padding;
		margin: $baseline * 2 0;
		width: 100%;
		cursor: pointer;
		&:hover {
			background: $black;
			color: $white;
		}
}

.item-bottom {
	background: $white;
	margin: 10px;
	margin-top: 0;
	padding: $item-padding;
	padding-top: $item-padding * 0.5;
}

.item-description {
	color: $black;
	font-size: 12px;
	margin-bottom: 0;
}

.item-tags {
	font-size: 12px;
	list-style: none;
	margin-top: $baseline;
	margin-bottom: 0;
	margin-left: 0;
	li {
		display: inline-block;
		color: $black;
		margin-bottom: $baseline * 0.25;
		margin-right: $gutter;
		&::before {
			content: "#";
		}
	}
}

.item-features {
	font-size: 12px;
	list-style: none;
	margin-left: 0;
	margin-top: $item-padding;
	margin-bottom: 0;
	li {
		color: $grey;
		margin-bottom: $baseline * 0.25;
		&::before {
			content: "–";
			margin-right: $gutter;
		}
		span {
			margin-left: $gutter;
		}
	}
}

.item-date {
	color: $grey;
	font-size: 12px;
	margin-top: $baseline * 4;
	margin-bottom: 0;
}

.quick-view {
  opacity: 0;
  z-index: -10;
  position: fixed;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 0;
}

.input-view-toggler {
  position: absolute;
  left: -100%;
}

.quick-view-toggler {
	cursor: pointer;
}

.quick-view-open {
  display: block;
  z-index: 15;
}

.input-view-toggler:checked ~ .quick-view {
  opacity: 1;
  z-index: 20;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  .item {
  	background: $quick-view-background-color;
  	position: fixed;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	height: 100%;
  }
}

.quick-view .item {
	width: 100%;
	.item-top {
		display: flex;
		flex-flow: wrap;
		flex-direction: row;
		margin: 0;
	}
	.item-image {
		display: flex;
		flex-flow: column;
		width: 25%;
		margin-bottom: 0;
		padding: 0;
		img {
			margin: 0;
		}
	}
	.item-details {
		display: flex;
		flex-flow: column;
		width: 74%;
		margin-bottom: 0;
		margin-left: 1%;
		padding: 0;
	}
	.item-bottom {
		padding-top: 0;
	}
}

.quick-view-close {
  display: none;
}

// .input-view-toggler:checked ~ .quick-view-toggler .quick-view-open {
//   display: none;
// }

.input-view-toggler:checked ~ .quick-view-toggler .quick-view-close {
  display: block;
  position: fixed;
  color: $black;
  top: $item-padding;
  right: $item-padding;
  line-height: 1rem;
  z-index: 40;
}

