@import '../../styles/styles.scss';

.item {
	margin-bottom: $padding;
	padding: 0;
}
.item-top {
	display: flex;
	flex-flow: wrap;
	flex-direction: row;	
	background: $white;
	margin-bottom: 1px;
	padding: $item-padding;
	img {
		margin: 0;
	}
}

.item-image {
	display: flex;
	flex-flow: column;
	width: 50%;
	margin-bottom: $padding;
	padding: 0;
}

.item-details {
	display: flex;
	flex-flow: column;
	width: 45%;
	margin-bottom: $padding;
	margin-left: 5%;
	padding: 0;
}


.item-artist, .item-title {
	font-size: 24px;
	color: $black;
	margin-bottom: 0;
}

.item-title a {
	color: $black;
	font-weight: 700;
	text-decoration: none;
}

.item-price,
.item-label,
.item-description,
.item-quick-view {
	color: $black;
	font-size: 12px;
	margin-bottom: 0;
}

.item-select {
		font-size: 12px;
		word-spacing: -3px;
		background: none;
		border: 1px solid $black;
		text-decoration: none;
		color: $black;
		padding: $button-padding;
		margin: $baseline * 2 0;
		width: 100%;
		cursor: pointer;
		&:hover {
			background: $black;
			color: $white;
		}
}

.item-bottom {
	background: $white;
	margin-top: 0;
	padding: $item-padding;
	padding-top: $item-padding * 0.5;
}

.item-description {
	color: $black;
	font-size: 12px;
	margin-bottom: 0;
}

.item-tags {
	font-size: 12px;
	list-style: none;
	margin-top: $baseline;
	margin-bottom: 0;
	margin-left: 0;
	li {
		display: inline-block;
		color: $black;
		margin-bottom: $baseline * 0.25;
		margin-right: $gutter;
		&::before {
			content: "#";
		}
	}
}

.item-features {
	font-size: 12px;
	list-style: none;
	margin-left: 0;
	margin-top: $item-padding;
	margin-bottom: 0;
	li {
		color: $grey;
		margin-bottom: $baseline * 0.25;
		&::before {
			content: "–";
			margin-right: $gutter;
		}
		span {
			margin-left: $gutter;
		}
	}
}

.item-date {
	color: $grey;
	font-size: 12px;
	margin-top: $baseline * 4;
	margin-bottom: 0;
}